<div class="panel panel-default">
    <div class="panel panel-body">
      <div class="row text-center">
          <img src="<%= @user.user_info.picture.url%>" class="img-circle" alt="Cinque Terre" width="300" height="300">

          <h3><%= @user.user_info.fname.titleize %> <%= @user.user_info.lname.titleize %></h3>
          <% if @user.pins.count == 0 %>
            <h4>No Post as of now</h4>
          <% else %>
            <% if @user.pins.count > 1 %>
              <h4><%= link_to @user.pins.count, get_my_pins_path, target: '_blank'  %> Posts</h4>
            <% else %>
              <h4><%= link_to @user.pins.count, get_my_pins_path, target: '_blank'  %> Post</h4>
            <% end %>
          <% end %>
          <h5>Lives at <%= @user.user_info.address.titleize %></h5>
          <h5>Born <%= @user.user_info.bday.strftime("%B, %d, %Y") %></h5>
      </div>
    </div>
</div>